<!DOCTYPE html>
<html>
  <head>
    <title>Zenitdevelopment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Zenit - Controle de Serviços</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
            <li><a href="/projects">Serviços</a></li>
            <li><a href="/customers">Clientes</a></li>
            <li><a><%= link_to 'Sair', destroy_user_session_path,  method: :delete %></a></li>
            <% else %>

            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <div class="page_background">
      <%= yield %>
    </div>
  </body>
</html>
